@tailwind base;
@tailwind components;
@tailwind utilities;

.get-in-touch {
  @apply bg-[#004bae] w-[150px] text-white font-semibold rounded-md md:ml-8 mt-[70px] h-[35px];
}

.last-comp {
  @apply sm:max-lg:px-5;
}

.contact-in-services {
  @apply flex flex-row max-lg:flex-col;
}

.img-div {
  @apply w-auto max-lg:flex justify-center;
}

.image-in-service {
  @apply rounded-lg lg:w-[1050px] max-lg:w-[90%] lg:ml-[60px] xl:max-w-[580px];
}

.intro {
  @apply flex flex-row mt-6 max-lg:flex-col max-sm:mt-0 gap-[70px];
}
.intro-left {
  @apply flex flex-col max-lg:px-4 md:ml-5 lg:ml-[60px] max-lg:mt-4 pr-2 mt-4 max-sm:ml-2;
}
.heading {
  @apply text-black font-bold text-3xl;
}
.intro-content {
  @apply text-black mt-5 text-balance;
}

.content {
  @apply flex flex-col bg-white py-10;
}

.topic {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white lg:text-[55px] font-semibold mt-10 text-[25px] text-nowrap max-sm:mt-12;
}
.topic-bg {
  @apply w-screen lg:h-[320px] opacity-85  max-lg:h-[200px];
}
.from-approach {
  @apply flex flex-col mt-12 max-sm:px-5 px-2;
}
.approach-head {
  @apply text-black font-bold text-3xl sm:ml-8 md:ml-[50px] mt-5;
}
.approach-list {
  @apply md:ml-8 mt-5 grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3;
  gap: 5px;
}
.list-disc-custom {
  list-style-type: disc;
}

.list-content {
  @apply bg-[#F6F5F5] text-black p-4 rounded-lg shadow-lg flex flex-col justify-center hover:bg-[#004bae] hover:border-white hover:border-[1px];
}
.benefits-container {
  @apply bg-white p-6 border rounded-lg shadow-sm md:mx-8 mt-5; 
  border-color: #6b7280; 
}

.key-benefit {
  @apply text-black font-bold text-3xl md:ml-9; 
}

.benefits-list {
  @apply mt-6 md:ml-4 ml-4 text-black; 
}

.benefits-item {
  @apply text-base sm:text-lg mb-4 max-sm:ml-2 text-black max-sm:mt-3 flex items-start;
  border-bottom: 1px solid #6b7280; 
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; 
}

.benefits-item:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.benefits-text {
  @apply flex-1 leading-loose text-pretty; /* Customize line height */
}

.extra-content {
  @apply text-black font-semibold text-[20px] md:ml-8;
}
.extra-con-para {
  @apply text-black mt-4 md:ml-8 md:w-[1180px];
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}